<table class="table table-stick mat-elevation-z8 table-responsive" id="table-master">

    <thead>
        <tr>
            <th>Carteira</th>
            <th>Planejado (%)</th>
            <th>Alocação (%)</th>
            <th>Valor de Mercado</th>
            <th>Resultado</th>
            <th>Resultado (%)</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        @for(portfolio of portfolios(); track portfolio.id) {
        <tr class="row-master">
            <td class="column-name">
                <div>
                    <button class="button-toggle" type="button" aria-label="Toggle portfolio details" [attr.aria-expanded]="isExpanded(portfolio) ? 'true' : 'false'" (click)="toggleExpanded(portfolio)">
                        <fa-icon [icon]="isExpanded(portfolio) ? iconOpen : iconClose"></fa-icon>
                    </button>
                    <span>{{ portfolio.name }}</span>
                </div>
            </td>
            <td class="column-percPlanned">
                <span></span>
                {{ portfolio.percPlanned | number:'1.2-2' }}%
            </td>
            <td class="column-percAllocation" >
                <span></span>
                {{ portfolio.total.percAllocation | percent:'1.2-2' }}
            </td>
            <td class="column-marketValue">
                <span>{{ portfolio.currency }}</span>
                <span>{{ portfolio.total.marketValue | number:'1.2-2' }}</span>
            </td>
            <td class="column-profit">
                <span>{{ portfolio.currency }}</span>
                {{ portfolio.total.profit | number:'1.2-2' }}
            </td>
            <td class="column-performance">
                <span></span>
                {{ portfolio.total.performance | percent:'1.2-2' }}
            </td>
        </tr>
        <tr class="row-expansible" [@detailExpand]="isExpanded(portfolio) ? 'expanded' : 'collapsed'" [style.overflow]="isExpanded(portfolio) ? 'auto' : 'hidden'">
            <td colspan="7" class="px-4 py-2 mb-4 w-100 d-flex flex-column align-items-start">
                <h4 class="my-2">Ativos da carteira {{portfolio.name}}</h4>
                <app-investment-portfolio-table [portfolioId]="portfolio.id" class="w-100 mat-elevation-z3"></app-investment-portfolio-table>
            </td>
        </tr>
        } 
    </tbody>

    <tfoot>
        <tr>
            <th>
                <em>Total</em>
            </th>
            <td class="column-percPlanned">
                <span></span>
                {{ total().percPlanned | number:'1.2-2' }}%
            </td>
            <td class="column-percAllocation">
                <span></span>
                {{ total().percAllocation | percent:'1.2-2' }}
            </td>
            <td class="column-marketValue">
                <span>BRL</span>
                {{ total().marketValue | number:'1.2-2' }}
            </td>
            <td class="column-profit">
                <span>BRL</span>
                {{ total().profit | number:'1.2-2' }}
            </td>
            <td class="column-performance">
                <span></span>
                {{ total().performance | percent:'1.2-2' }}
            </td>
        </tr>
    </tfoot>

</table>
