<mat-dialog-content>
    <h3 mat-dialog-title>{{data.title}}</h3>
    <form [formGroup]="formPortfolio" class="d-flex flex-column p-2" (submit)="submitForm()">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" name="name" formControlName="name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Moeda</mat-label>
            <mat-select formControlName="currency">
                @for (item of currenciesTypes; track $index) {
                    <mat-option [value]="item">{{ item }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Classe</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" formControlName="class" />
            <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="true">
                @for (item of classes(); track $index) {
                    <mat-option [value]="item">{{ item }}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>

        <div class="card">
            <div class="card-header">
                <div class="card-title"><mat-label>Percentual Planejado</mat-label></div>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <mat-slider discrete="true" min="0" max="100" step="0.5" [attr.aria-label]="'Slider for ' + name.value + '%'" [displayWith]="formatThumb">
                    <input matSliderThumb formControlName="percPlanned" #slider/>
                </mat-slider>
                <mat-label>{{ percPlanned.value | number:'1.0-1' }}%</mat-label>
            </div>
            
        </div>
    </form>
    <mat-dialog-actions>
        <button mat-stroked-button type="submit" (click)="submitForm()">Salvar</button>
        <button mat-button [mat-dialog-close]="undefined">Cancelar</button>
    </mat-dialog-actions>
</mat-dialog-content>
<!-- <code><pre>{{this.formPortfolio.value | json}}</pre></code> -->