mat-cell.mat-column-quantity,
mat-cell.mat-column-quote,
mat-cell.mat-column-fees,
mat-cell.mat-column-date {
    justify-content: end;
}

mat-cell.mat-column-type {
    justify-content: center;
}

.table-container {
    min-width: 600px;
    overflow-x: auto;
}
