<div class="table-container">
    <mat-table [dataSource]="dataSource()" class="mat-table-hover">
        <ng-container matColumnDef="ticker">
            <mat-header-cell *matHeaderCellDef class="text-break"> Ativo </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.ticker }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="d-sm-inline d-lg-none">
                    {{ row.date | date: 'dd/MM' }}
                </span>
                <span class="d-none d-lg-inline">
                    {{ row.date | date: 'dd/MM/yyyy' }}
                </span>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>
                <span class="d-sm-inline d-lg-none">
                    Op.
                </span>
                <span class="d-none d-lg-inline">
                    Operação
                </span>
    
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="d-sm-inline d-lg-none">
                    {{ row.type | investmentType:'short' }}
                </span>
                <span class="d-none d-lg-inline">
                    {{ row.type | investmentType }}
                </span>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>
                <span class="d-none d-lg-inline">Quantidade</span>
                <span class="d-lg-none">Qtd.</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.quantity }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="quote">
            <mat-header-cell *matHeaderCellDef> 
                <span class="d-sm-inline d-lg-none">
                    Pr.
                </span>
                <span class="d-none d-lg-inline">
                    Preço
                </span>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.quote | number:'1.2-2'}}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <app-currency [value]="row.value"/>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef class="d-none d-lg-flex"> Status </mat-header-cell>
            <mat-cell *matCellDef="let row" class="d-none d-lg-flex">
                {{ row.status | transactionStatus }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef class="d-none d-lg-flex"></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="account">
            <mat-header-cell *matHeaderCellDef> Conta </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ accounts()[row.accountId].accountName }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="fees">
            <mat-header-cell *matHeaderCellDef> 
                <span class="d-sm-inline d-lg-none">
                    Corrtgm.
                </span>
                <span class="d-none d-lg-inline">
                    Corretagem
                </span>            
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.fees | number: '1.2-2'}}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="warn" (click)="deleteTransaction($event, row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editTransaction(row)"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns" class="table-total"></mat-footer-row>
    </mat-table>
</div>
