.mat-column-quantity, .mat-column-percPlanned, .mat-column-percAllocation {
    text-align: right !important;
    width: 7% !important;
}
.mat-column-name {
    width: 22% !important;
}
.mat-column-code, 
.mat-column-type,
.mat-column-trend
{
    width: 9% !important;
    overflow: hidden !important;
    word-break: break-all;
}
.mat-column-quote, 
.mat-column-marketValue
{
    width: 15% !important;
    word-break: break-all;
}