<h3 mat-dialog-title>{{data.title}}</h3>
<form [formGroup]="entryForm" (submit)="submitForm()">
    <mat-dialog-content>
        <div class="d-flex flex-column">
            <mat-form-field>
                <mat-label>Conta</mat-label>
                <input type="text" matInput formControlName="account" required>
                @if (account.invalid && account.touched) {
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tipo da Conta</mat-label>
                <mat-select formControlName="type" required>
                @for (type of accountTypeOptions; track $index) {
                    <mat-option [value]="type">{{ type | accountType }}</mat-option>
                }
                </mat-select>
                @if (type.invalid && type.touched) {
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                }
            </mat-form-field>
            <ng-container formGroupName="balance">
                <mat-form-field>
                    <mat-label>Saldo</mat-label>
                    <input type="number" matInput formControlName="amount" required>
                    @if (amount.invalid && amount.touched) {
                        @if(amount.getError('required')) {
                            <mat-error >
                                Campo obrigatório
                            </mat-error>
                        }
                    }
                </mat-form-field>
                <div class="button-add">
                    <button mat-button type="button" (click)="add(1000)">+1000</button>
                    <button mat-button type="button" (click)="add(100)">+100</button>
                    <button mat-button type="button" (click)="add(10)">+10</button>
                    <button mat-button type="button" (click)="add(1)">+1</button>
                </div>
                <mat-form-field>
                    <mat-label>Moeda</mat-label>
                    <mat-select formControlName="currency" required>
                    @for (currency of currencyOptions; track $index) {
                        <mat-option [value]="currency">{{ currency }}</mat-option>
                    }
                    </mat-select>
                    @if (currency.invalid && currency.touched) {
                        <mat-error>
                            Campo obrigatório
                        </mat-error>
                    }
                </mat-form-field>
            </ng-container>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button" mat-button [mat-dialog-close]="undefined">Cancelar</button>
        <button type="submit" mat-button [mat-dialog-close]="entryForm.value" 
            [disabled]="entryForm.invalid"
            color="primary">Salvar</button>
    </mat-dialog-actions>
</form>