<table mat-table [dataSource]="dataSource()">
    
    <!-- Define columns -->
    <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Saldo Inicial</th>
        <td mat-cell *matCellDef="let element" class="text-end me-4"> {{ element.period }} </td>
        <td mat-footer-cell *matFooterCellDef="let element">Previsão Final:</td>
    </ng-container>

    <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
            @if (element.summary !== undefined) {
                <app-currency [amount]="element.summary"></app-currency>
            }
        </td>
        <td mat-footer-cell *matFooterCellDef="let element">
            <app-currency [amount]="cashflowResult()" [currency]="currency"></app-currency>
        </td>
    </ng-container>

    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>
            <app-currency [amount]="initialBalance()" [currency]="currency"></app-currency>
        </th>
        <td mat-cell *matCellDef="let element">
            <app-currency [amount]="element.balance" [currency]="currency"></app-currency>
        </td>
        <td mat-footer-cell *matFooterCellDef="let element">
            <app-currency [amount]="forecastResult()" [currency]="currency"></app-currency>
        </td>
    </ng-container>

    @if(caption()) {<caption>{{caption()}}</caption>}
    
    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumn" class="table-total"></tr>

</table>