<table mat-table [dataSource]="datasource()" class="mat-elevation-z2">
    <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef>Classe</th>
        <td mat-cell *matCellDef="let item" class="text-break">{{item.class}}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>
    <ng-container matColumnDef="financial">
        <th mat-header-cell *matHeaderCellDef>Financeiro</th>
        <td mat-cell *matCellDef="let item" class="cell-number">
            <div class="d-flex justify-content-between">
                <app-currency [value]="item.exchange"></app-currency>
                @if (item.exchange.currency !== item.financial.currency) {
                    <span [title]="item.financial.currency + ' ' + item.financial.amount" class="info">
                        <fa-icon [icon]="faExchange"></fa-icon>
                    </span>
                } @else {
                    <span class="info">
                        
                    </span>
                }
            </div>
        </td>
        <td mat-footer-cell *matFooterCellDef class="cell-number">
            <app-currency [amount]="total() || 0"></app-currency>
        </td>
    </ng-container>
    <ng-container matColumnDef="percPlanned">
        <th mat-header-cell *matHeaderCellDef>Planejado</th>
        <td mat-cell *matCellDef="let item" class="cell-number">
            {{item.percentagePlanned * .01 | percent:'1.0'}}
        </td>
        <td mat-footer-cell *matFooterCellDef class="cell-number">
            {{totalPercPlanned() * .01 | percent:'1.0'}}
        </td>
    </ng-container>
    <ng-container matColumnDef="percActual">
        <th mat-header-cell *matHeaderCellDef>Real</th>
        <td mat-cell *matCellDef="let item" class="cell-number">
            {{item.percentageActual | percent:'1.2-2'}}
        </td>
        <td mat-footer-cell *matFooterCellDef class="cell-number">
            {{totalPercActual() | percent:'1.0-2'}}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns" class="table-total"></tr>
</table>
