@if (editable()) {
<h3>Cadastro de Ativos</h3>
<div class="d-flex">
    <button mat-button (click)="newAsset()">Novo Ativo</button>
</div>
}

<table mat-table [dataSource]="datasource()" class="mat-elevation-z8 primary mat-table-hover" [trackBy]="trackByFn">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let row"> {{row | assetCode }} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let row"> {{row.type | assetType }} </td>
    </ng-container>

    <ng-container matColumnDef="quote">
        <th mat-header-cell *matHeaderCellDef> Cotação </th>
        <td mat-cell *matCellDef="let row">
            <app-currency [value]="row.quote"></app-currency>
        </td>
    </ng-container>

    <ng-container matColumnDef="trend">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <app-trend [trend]="row.trend"></app-trend>
        </td>
    </ng-container>

    <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell *matHeaderCellDef> Última Atualização </th>
        <td mat-cell *matCellDef="let row"> {{row.lastUpdate | date:'HH:mm:ss.S'}} </td>
    </ng-container>

    <ng-container matColumnDef="controlByQty">
        <th mat-header-cell *matHeaderCellDef> Por Quantidade </th>
        <td mat-cell *matCellDef="let row">
            @switch (row.controlByQty) {
            @case (true) { <span class="controlBy-yes"><fa-icon [icon]="iconTrue"></fa-icon></span> }
            @case (false) { <span [style.color]="'gray'"><fa-icon [icon]="iconFalse"></fa-icon></span> }
            }
        </td>
    </ng-container>

    <ng-container matColumnDef="manualQuote">
        <th mat-header-cell *matHeaderCellDef> Manual </th>
        <td mat-cell *matCellDef="let row">
            @if (row.manualQuote) {
            <span><fa-icon [icon]="iconTrue"></fa-icon></span>
            }
            @else {
            <span [style.color]="'gray'"><fa-icon [icon]="iconFalse"></fa-icon></span>
            }
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let row; let i = index" class="actions">
            <button mat-icon-button type="button" (click)="editAsset(row)" class="edit-button deletable small-icon-button"
                [attr.aria-label]="'Edit asset ' + row.name">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="deleteAsset(row)" [disabled]="!row.deletable"
                [class.deletable]="row.deletable" class="delete-button small-icon-button"
                [attr.aria-label]="'Delete asset ' + row.name">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
        <td mat-row-cell *matCellDef="let row"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- <code>
    <pre>{{datasource() | json}}</pre>
</code> -->