<h3 mat-dialog-title>{{data.title}}</h3>
<form [formGroup]="allocationForm" (submit)="submitForm()">
    <mat-dialog-content>
        <div class="d-flex flex-column">
            <mat-form-field>
                <mat-label>Quantidade</mat-label>
                <input type="number" matInput step="1" formControlName="quantity" min="0" required>
                @if (quantity.hasError('required')) {
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                }
                @if (quantity.hasError('min')) {
                    <mat-error>
                        Quantidade inválida. Deve ser maior que 0.
                    </mat-error>
                }
            </mat-form-field>
            <div class="d-flex">
                <button type="button" mat-button (click)="addQuantity(10)">+ 10</button>
                <button type="button" mat-button (click)="addQuantity(100)">+ 100</button>
                <button type="button" mat-button (click)="addQuantity(1000)">+ 1000</button>
            </div>
            <mat-form-field>
                <mat-label>Percentagem Planejada</mat-label>
                <input type="number" matInput step="0.1" formControlName="percent" min="0" required>
                @if (percent.hasError('required')) {
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                }
                @if (percent.hasError('min')) {
                    <mat-error>
                        Percentagem inválida. Deve ser maior que 0.
                    </mat-error>
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button" mat-button [mat-dialog-close]="undefined">Cancelar</button>
        <button type="submit" mat-stroked-button [mat-dialog-close]="allocationForm.value"
            [disabled]="allocationForm.invalid">Salvar</button>
    </mat-dialog-actions>
</form>