.number {
    text-align: end;
}
.mat-column-balance {
    font-style: italic;
}
.inactivated {
    background-color: rgba(127, 127, 127, 0.05);
    color: #888;
}
tr.mat-mdc-footer-row {
    td { border-top: 3px double var(--mat-table-row-item-outline-color); }
    font-weight: bold !important;
}