<table mat-table [dataSource]="balances()" class="mat-elevation-z2">
    <ng-container matColumnDef="account">
        <td mat-cell *matCellDef="let item"> {{ item.account }}</td>
        <td mat-footer-cell *matFooterCellDef>
            Saldo Total
        </td>
    </ng-container>
    <ng-container matColumnDef="balanceQuote">
        <td mat-cell *matCellDef="let item" class="number"> 
            <app-currency [value]="item.exchange"></app-currency>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <app-currency [amount]="totalBalance()"></app-currency>
        </td>
    </ng-container>
    <ng-container matColumnDef="balance">
        <td mat-cell *matCellDef="let item" class="number"> 
            @if( ! isSameCurrency(item)) {
                <app-currency [value]="item.balance"></app-currency>
            }
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="accountInv">
        <td mat-footer-cell *matFooterCellDef>
            Total C/C
        </td>
    </ng-container>
    <ng-container matColumnDef="balanceWithoutInvest">
        <td mat-footer-cell *matFooterCellDef>
            <app-currency [amount]="totalBalanceChecking()"></app-currency>
        </td>
    </ng-container>
    
    <tr mat-row *matRowDef="let row; columns: ['account', 'balanceQuote', 'balance'];" 
        [class.inactivated]="isNotActivated(row)"
        (click)="rowClicked(row)"
        ></tr>
    
    <tr mat-footer-row *matFooterRowDef="['account', 'balanceQuote', 'balance']"></tr>
    <tr mat-footer-row *matFooterRowDef="['accountInv', 'balanceWithoutInvest']"></tr>
</table>