@media screen and (max-width: 799px) {
    .transaction mat-form-field {
        width: 100% !important;
    }
}

@media screen and (min-width: 800px) {
    .transaction {
        align-items: start;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 15px;

        mat-form-field {
            width: 100% !important;
        }

        mat-form-field.market-place {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .add-quantity {
            position: relative;
            top: -5px;
            display: flex;
            justify-content: space-around;
            font-size: 0.8em;
    
            & > a {
                cursor: pointer;
                text-decoration: none;
                color: var(--bs-primary);
            }
        }
    }
}