<h3 mat-dialog-title>{{data.title}}</h3>
<form [formGroup]="transactionForm" (submit)="submitForm()">
    <mat-dialog-content>
        @switch (page) {
        @case(0) {
        <div formGroupName="transaction" class="grid transaction" style="--bs-columns: 2;">
            <mat-form-field class="g-col-12 market-place">
                <mat-label>Mercado</mat-label>
                <mat-select formControlName="ticker" required>
                    <mat-select-trigger>
                        {{data.transaction.ticker}} - {{ assetSelected?.name }}
                    </mat-select-trigger>
                    @for (asset of assets() | keyvalue; track asset.key) {
                    <mat-option [value]="asset.key">{{ asset.key }}<br><em
                            class="display-small small">{{asset.value.name}}</em></mat-option>
                    }
                </mat-select>

                @if (ticker.invalid && ticker.touched) {
                <mat-error>
                    Campo obrigatório
                </mat-error>
                }
            </mat-form-field>
            
            <mat-form-field class="g-col-lg-6">
                <mat-label>ticker</mat-label>
                @if (!assets()) {
                <input matInput type="text" formControlName="ticker" required>
                }
                @else {
                <mat-select formControlName="ticker" required>
                    <mat-select-trigger>
                        {{ticker.value}} - {{ assetSelected?.name }}
                    </mat-select-trigger>
                    @for (asset of assets() | keyvalue; track asset.key) {
                    <mat-option [value]="asset.key">{{ asset.key }}<br><em
                            class="display-small small">{{asset.value.name}}</em></mat-option>
                    }
                </mat-select>
                }
                @if (ticker.invalid && ticker.touched) {
                <mat-error>
                    Campo obrigatório
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="g-col-lg-6">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="type" placeholder="Tipo da transação" required>
                    @for (type of transactionTypes; track $index) {
                    <mat-option [value]="type">{{ type | investmentType }} </mat-option>
                    }
                </mat-select>
                @if (type.invalid && type.touched) {
                <mat-error>
                    Campo obrigatório
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="g-col-lg-6" id="mat-field-date">
                <input matInput [matDatepicker]="dp" placeholder="DD/MM/YYYY" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                @if (date.invalid && date.touched) {
                <mat-error>
                    Campo obrigatório
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="g-col-lg-6">
                <mat-label>Conta</mat-label>
                <mat-select formControlName="accountId">
                    @for (account of accounts(); track $index) {
                    <mat-option [value]="account[0]">{{ account[1] }}</mat-option>
                    }
                </mat-select>
                @if (accountId.invalid && accountId.touched) {
                <mat-error>
                    Campo obrigatório
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="g-col-lg-6">
                <mat-label>Cotação</mat-label>
                <input matInput type="number" step="0.01" min="0" class="text-end" formControlName="quote"
                    (focus)="selectAll($event)">
                @if (quote.invalid && quote.touched) {
                <mat-error>
                    Campo obrigatório
                </mat-error>
                }
            </mat-form-field>


            <div class="g-col-lg-6">
                <mat-form-field class="g-col-lg-6 field-quantity">
                    <mat-label>Quantidade</mat-label>
                    <input matInput type="number" step="1" min="0" class="text-end" formControlName="quantity"
                        (focus)="selectAll($event)">
                    @if (quantity.invalid && quantity.touched) {
                    <mat-error>
                        @if(quantity.hasError('required')) { Campo obrigatório }
                        @if(quantity.hasError('min')) { Valor &lt;= 0 }
                    </mat-error>
                    }
                </mat-form-field>
                <div class="d-flex" class="add-quantity">
                    <a role="button" (click)="addQuantity(1000)">+1000</a>
                    <a role="button" (click)="addQuantity(100)">+100</a>
                    <a role="button" (click)="addQuantity(10)">+10</a>
                    <a role="button" (click)="addQuantity(1)">+1</a>
                </div>
        </div>

            <ng-container formGroupName="value">
                <mat-form-field class="input-amount" class="g-col-lg-6">
                    <mat-label>Valor</mat-label>
                    <input matInput type="number" step="0.01" min="0" class="text-end" formControlName="amount"
                        required (focus)="selectAll($event)">
                    @if (amount.invalid && amount.touched) {
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                    }
                </mat-form-field>
            </ng-container>

            <mat-form-field class="g-col-lg-6">
                <mat-label>Comissão</mat-label>
                <input matInput type="number" step="0.01" min="0" class="text-end" formControlName="brokerage"
                    (focus)="selectAll($event)">
                @if (brokerage.invalid && brokerage.touched) {
                <mat-error>
                    Campo obrigatório
                </mat-error>
                }
            </mat-form-field>
        </div>
        } <!-- case -->
        @case(1) {
        <ng-container formArrayName="portfolios">
            <mat-table [dataSource]="portfolioList() || []" id="mat-table-porfolios">
                <ng-container matColumnDef="name">
                    <mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>Carteira</mat-label>
                            <input matInput type="text" formControlName="name" required placeholder="Nova carteira"
                                [readonly]="!!row.id">
                            @if (!row.id) {
                            <mat-icon matSuffix>mode_edit</mat-icon>
                            }
                            @if (portfolios.at(i).get("name")?.invalid) {
                            <mat-error>
                                Campo obrigatório
                            </mat-error>
                            }
                        </mat-form-field>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>Não alocado</mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>Valor alocado</mat-label>
                            <input matInput type="number" step="0.01" class="text-end" formControlName="quantity">
                            @if (portfolios.at(i).get("quantity")?.invalid) {
                            <mat-error>
                                Valor inválido
                            </mat-error>
                            }
                        </mat-form-field>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef>
                        <div class="w-100 text-end" [class.text-danger]="undistributed < 0">

                            {{undistributed | number:'1.0-2'}}
                        </div>
                    </mat-footer-cell>
                </ng-container>

                <mat-row *matRowDef="let row; let last = last; columns: ['name','quantity'];"
                    [class.mat-last-row]="last"></mat-row>
                <mat-footer-row *matFooterRowDef="['name','quantity']" class="table-total"></mat-footer-row>
            </mat-table>
        </ng-container>
        } <!-- case -->
        } <!-- switch -->

    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" mat-button (click)="gotoPage(page+1)" [disabled]="page > 3">Próximo</button>
        <!-- <button type="button" mat-button (click)="gotoPage('Portfolio')" [disabled]="transactionForm.invalid">Próximo</button> -->
        <button type="button" mat-button (click)="gotoPage(page-1)" [disabled]="page < 1">Voltar</button>
        <button type="submit" mat-stroked-button [mat-dialog-close]="formValue" color="primary"
            [disabled]="transactionForm.invalid">Salvar</button>
        <button type="button" mat-button [mat-dialog-close]="undefined">Cancelar</button>
    </mat-dialog-actions>

</form>