<app-earnings-filter (filterChanged)="filterChanged($event)"/>
<!-- Criação do formArray -->
<table mat-table [dataSource]="data()" class="mat-elevation-z8 w-100 mat-table-hover">

  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element; let idx = index" 
      [attr.rowspan]="element.rowspan"
      [style.display]="!element.main ? 'none': ''">
      <div class="d-flex justify-contents-between">
        <div class="d-flex flex-column align-middle">
          <div>
            {{element.ticker}}
          </div>
          <em>
            {{element.description}}
          </em>
        </div>
        @if (element.rowspan < 3) {
          <div class="ms-auto">
            <button type="button" mat-icon-button (click)="addRow(element)">
              <mat-icon class="md-18">add_circle</mat-icon>
            </button>
          </div>
        }
      </div>
    </td>
    <th mat-footer-cell *matFooterCellDef>Total</th>
  </ng-container>

  
  <ng-container matColumnDef="acronym">
    <th mat-header-cell *matHeaderCellDef> T </th>
    <td mat-cell *matCellDef="let element"> {{element.acronymEarn}} </td>
    <th mat-footer-cell *matFooterCellDef ></th>
  </ng-container>

  @for(month of months; track $index) {
    <ng-container [matColumnDef]="vlMonths[$index]">
      <th mat-header-cell *matHeaderCellDef class="vlMonth"> {{month}} </th>
      <td mat-cell *matCellDef="let element" class="number cell vlMonth" (click)="editCell($index, element)">
        @if (element.entries[$index].amount == 0) {
        <div class="w-100 text-center">
          -
        </div>
        }
        @else {
        <div class="w-100 text-end">
          {{ element.entries[$index].amount | number:'1.2-2'}}
        </div>
        }
      </td>
      <th mat-footer-cell *matFooterCellDef class="number vlMonth">
        <div class="w-100 text-end pe-3">
          {{ totalMonth($index) | number:'1.2-2' }}
        </div>
      </th>
    </ng-container>
  }


  <!-- Cabeçalho e linhas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns" class="table-total" ></tr>
</table>
<!-- <code>
  <pre>{{data() | json}}</pre>
</code> -->