<div class="box-container d-flex flex-column justify-content-center align-items-center">
    <h3>Preencha a Transação</h3>
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmitRequest()" class="mb-4">
        <div class="d-block d-lg-none p-4 mb-4">
            <mat-tab-group>
                <mat-tab label="Geral" class="w-75 text-center">
                    <div class="form-fields flex-direction">
                        <ng-container [ngTemplateOutlet]="general"/>
                    </div>
                </mat-tab>
                <mat-tab label="Financeiro" class="w-75 text-center">
                    <div class="form-fields flex-direction">
                        <ng-container [ngTemplateOutlet]="financial"/>
                    </div>
                </mat-tab>
                <mat-tab label="Alocações" class="w-75 text-center">
                    <div class="form-fields flex-direction">
                        <ng-container [ngTemplateOutlet]="allocation"/>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <footer class="footer mt-auto fixed-bottom d-flex justify-content-end py-3 bg-light">
                <ng-container [ngTemplateOutlet]="actions"/>
            </footer>
        </div>
        <div class="card d-none d-lg-block">
            <div class="p-4 card-body d-flex">
                <div [formGroup]="transactionForm" class="d-flex flex-wrap justify-content-evenly">
                    <ng-container [ngTemplateOutlet]="general"/>
                    <ng-container [ngTemplateOutlet]="financial"/>
                    <div class="w-100 card mt-3">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="ps-4 mb-0">Alocações</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <ng-container [ngTemplateOutlet]="allocation"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <ng-container [ngTemplateOutlet]="actions"/>
            </div>
        </div>
    </form>
</div>

<ng-template #actions>
    <button mat-stroked-button color="primary" type="submit" [disabled]="!transactionForm.valid">
        Salvar
    </button>
    <button mat-button color="secondary" type="button">
        Cancelar
    </button>
</ng-template>

<ng-template #general>
    <ng-container [formGroup]="transactionForm">

        <mat-form-field class="full-width">
            <mat-label>MarketPlace</mat-label>
            <mat-select formControlName="marketPlace">
                @for (place of marketPlaces(); track $index) {
                    <mat-option [value]="place">{{ place }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Sigla</mat-label>
            <input matInput formControlName="code" [matAutocomplete]="autoCode" (input)="toUpercase($event)">
            <mat-autocomplete autoActiveFirstOption #autoCode="matAutocomplete">
                @for(option of optionsCode(); track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Data da transação">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Conta</mat-label>
            <input matInput formControlName="accountId" appSelectOnFocus [matAutocomplete]="autoAccount">
            <mat-autocomplete autoActiveFirstOption #autoAccount="matAutocomplete" [displayWith]="accountNameDisplay">
                @for(option of optionsAccount(); track option) {
                    <mat-option [value]="option.id">{{option.account}}</mat-option>
                }
                <!-- Opções de auto completar -->
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Operação</mat-label>
            <mat-select formControlName="type">
                @for(type of transactionTypes; track $index) {
                    <mat-option [value]="type">{{ type | investmentType }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </ng-container>
</ng-template>


<ng-template #financial>
    <ng-container [formGroup]="transactionForm">
        <mat-form-field class="full-width">
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" formControlName="quantity" appSelectOnFocus>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Cotação</mat-label>
            <input matInput type="number" formControlName="quote" appSelectOnFocus step="0.1" min="0">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Valor</mat-label>
            <input matInput type="number" formControlName="amount" appSelectOnFocus min="0">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Comissão</mat-label>
            <input matInput type="number" formControlName="brokerage" appSelectOnFocus>
        </mat-form-field>
    </ng-container>
</ng-template>

<ng-template #allocation>
    <ng-container [formGroup]="transactionForm">
        <ng-container formArrayName="allocations">
            @for (portfolio of portfolios() ; track portfolio.id; let idx = $index) {
                <mat-form-field class="full-width">
                    <mat-label>
                        {{portfolio.name}}
                    </mat-label>
                    <div [matBadge]="portfolio.allocation">
                        <input matInput type="number" [formControlName]="idx" appSelectOnFocus>
                    </div>
                </mat-form-field>
            }
        </ng-container>
    </ng-container>
</ng-template>
