<div class="box-container d-flex flex-column justify-content-center align-items-center">
    <h3 class="my-sm-0 my-lg-4">Preencha a Transação</h3>
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmitRequest()" class="mb-4">
        <div class="d-block d-lg-none p-sm-1 p-lg-4 mb-4">
            <mat-tab-group>
                <mat-tab label="Geral" class="w-75 text-center">
                    <div class="form-fields flex-direction">
                        <ng-container [ngTemplateOutlet]="general"/>
                    </div>
                </mat-tab>
                <mat-tab label="Financeiro" class="w-75 text-center">
                    <div class="form-fields flex-direction">
                        <ng-container [ngTemplateOutlet]="financial"/>
                    </div>
                </mat-tab>
                <mat-tab label="Alocações" class="w-75 text-center">
                    <div class="form-fields flex-direction">
                        <ng-container [ngTemplateOutlet]="allocation"/>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <footer class="footer mt-auto fixed-bottom d-flex justify-content-end py-3 bg-light">
                <ng-container [ngTemplateOutlet]="actions"/>
            </footer>
        </div>
        <div class="card d-none d-lg-block">
            <div class="p-4 card-body d-flex">
                <div [formGroup]="transactionForm" class="g-form">
                    <ng-container [ngTemplateOutlet]="general"/>
                    <ng-container [ngTemplateOutlet]="financial"/>
                    <div class="w-100 card mt-3">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="ps-4 mb-0">Alocações</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <ng-container [ngTemplateOutlet]="allocation"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <ng-container [ngTemplateOutlet]="actions"/>
            </div>
        </div>
    </form>
</div>

<ng-template #actions>
    <button mat-stroked-button color="primary" type="submit" [disabled]="!transactionForm.valid">
        Salvar
    </button>
    <button mat-button color="secondary" type="button" (click)="onCancelRequest()">
        Cancelar
    </button>
</ng-template>

<ng-template #general>
    <ng-container [formGroup]="transactionForm">

        <mat-form-field class="full-width">
            <mat-label>MarketPlace</mat-label>
            <mat-select formControlName="marketPlace">
                @for (place of marketPlaces(); track $index) {
                    <mat-option [value]="place">{{ place }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Sigla</mat-label>
            <input matInput formControlName="code" [matAutocomplete]="autoCode" (input)="toUpercase($event)">
            <mat-autocomplete autoActiveFirstOption #autoCode="matAutocomplete">
                @for(option of optionsCode(); track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Data da transação">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Conta</mat-label>
            <input matInput formControlName="accountId" appSelectOnFocus [matAutocomplete]="autoAccount">
            <mat-autocomplete autoActiveFirstOption #autoAccount="matAutocomplete" [displayWith]="accountNameDisplay">
                @for(option of optionsAccount(); track option) {
                    <mat-option [value]="option.id">{{option.account}}</mat-option>
                }
                <!-- Opções de auto completar -->
            </mat-autocomplete>
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Operação</mat-label>
            <mat-select formControlName="type">
                @for(type of transactionTypes; track $index) {
                    <mat-option [value]="type">{{ type | investmentType }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </ng-container>
</ng-template>


<ng-template #financial>
    <ng-container [formGroup]="transactionForm">
        <div class="full-width field-quantity">
            <div class="d-flex flex-column w-100">
                <mat-form-field class="full-width">
                    <mat-label>Quantidade</mat-label>
                    <input matInput type="number" formControlName="quantity" class="text-end" appSelectOnFocus min="0">
                </mat-form-field>
                <div class="add-quantity">
                    <a role="button" (click)="addQuantity(1000)">+1000</a>
                    <a role="button" (click)="addQuantity(100)">+100</a>
                    <a role="button" (click)="addQuantity(10)">+10</a>
                    <a role="button" (click)="addQuantity(1)">+1</a>
                </div>
            </div>
    </div>
    
        <mat-form-field class="full-width">
            <mat-label>Cotação</mat-label>
            <input matInput type="number" formControlName="quote" class="text-end" appSelectOnFocus step="0.1" min="0">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Valor</mat-label>
            <input matInput type="number" formControlName="amount" class="text-end" appSelectOnFocus min="0">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <mat-label>Comissão</mat-label>
            <input matInput type="number" formControlName="brokerage" class="text-end" appSelectOnFocus>
        </mat-form-field>
    </ng-container>
</ng-template>

<ng-template #allocation>
    <ng-container [formGroup]="transactionForm">
        <ng-container formArrayName="allocations">
            @for (allocation of allocationValue() ; track $index; let idx = $index) {
                <ng-container [formGroupName]="idx">
                    <mat-form-field class="full-width">
                        <mat-label>
                            {{allocation.name}}
                        </mat-label>
                        <!-- <div [matBadge]="badgeValue(allocation.id)">
                        </div> -->
                        <div>
                            <!-- <span class="position-absolute top-0 mt-3 start-100 rounded-pill translate-middle badge text-white-50 bg-dark">{{badgeValue(allocation.id)}}</span> -->
                            <input matInput type="number" formControlName="qty" appSelectOnFocus class="text-end" min="0">
                        </div>
                        <mat-hint>
                            @if(badgeValue(allocation.id)) { Quantidade alocada: {{badgeValue(allocation.id)}} }
                        </mat-hint>
                    </mat-form-field>
                </ng-container>
            }
        </ng-container>
    </ng-container>
</ng-template>
