.box-container {
    position: relative;

    .card {
        max-width: 50vw;
    }
}

.flex-direction,
.form-fields {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.field-quantity {
    display: inline-flex;
    height: 76px;

    mat-form-field {
        width: 100%;
    }
}


@media (min-width: 992px) {

    .flex-direction,
    .form-fields {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 75%;
    }

    mat-form-field {
        padding: 0 16px;
        width: 29%;
    }
    
    .field-quantity {
        width: 29%;
        display: inline-flex;
        padding: 0 32px 0 0;
    
        mat-form-field {
            width: 100%;
        }
    }
}

.add-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: -37px;
    margin-bottom: -37px;
    margin-left: 15%;
    width: 80%;

    & > a {
        text-decoration: none;
        color: var(--bs-primary);
        cursor: pointer;
        font-size: 0.8em;
    }
}
