<div class="bg-light">
    <app-header></app-header>
    
    <app-health-status></app-health-status>

    <div id="exchange-button">
        <app-exchange-button/>
    </div>

    <div class="container-fluid mt-sm-2 mt-lg-4 main-container" id="container">
        <router-outlet />
    </div>
</div>
<!-- <div class="d-flex">
    <div class="ms-3">
        transactions
        <pre>{{ transactions() | json }}</pre>
    </div>
    <div class="ms-3">
        source
        <pre>{{ source() | json }}</pre>
    </div>
    <div class="ms-3">
        exchanges
        <pre>{{ exchanges() | json }}</pre>
    </div>
</div> -->
