#container {
    max-width: calc(100% - 30px) !important;
    min-height: calc(100vh - 95px) !important;
    overflow: auto !important;
}

#exchange-button {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 20000;
}

pre {
    max-height: 300px;
    overflow: auto;
    background-color: #f8f9fa;
}