
.table-hover > tbody > tr-group:hover > * {
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-hover-bg);
    cursor: zoom-in
}
.table { 
    border-collapse: collapse;
}

.cell-asset {
    /* Styles for cell-access */
    background-color: #f0f8ff; /* Example style */
    font-weight: bold; /* Example style */
}

.cell-acronymEarn {
    /* Styles for cell-acronymEarn */
    background-color: #f0f8ff; /* Example style */
    font-weight: bold; /* Example style */
    text-align: center;
}

.cell-month {
    /* Styles for cell-month */
    width: 6%;
}

.cell-total-display {
    background-color: #e0f7fa; /* Example style */
}

.cell-total-month {
    background-color: #e0f7fa; /* Example style */
}

td, th {
    padding: 8px; /* Example style */
    border: 1px dotted #ccc; /* Example style */
    vertical-align: middle;
    height: 42px;;
}