<button class="btn btn-primary mb-3" (click)="addTransaction()">
  <i class="bi bi-plus"></i> Nova transação
</button>

<app-income-year-sheet-filter (filterChanged)="filterChanged($event)"></app-income-year-sheet-filter>

<table class="table table-hover mt-3 mat-elevation-z8">
  <thead class="table-light">
    <tr>
      <th scope="col" class="cell-asset">Código</th>
      <th scope="col" class="cell-acronymEarn">Tipo</th>
      @for (month of months; track $index) {
        <th scope="col" class="text-center cell-month">{{ month | date: 'MMM' }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (element of data(); track $index) {
      <tr-group>
      <tr>
        <td [attr.rowspan]="element.rowspan" class="cell-asset" [style.display]="!element.main ? 'none' : ''">
          <div class="d-flex flex-column">
            <div>{{ element.ticker }}</div>
            <em>{{ element.description }}</em>
          </div>
        </td>
        <td class="cell-acronymEarn">{{ element.acronymEarn }}</td>
        @for (month of months; track $index) {
          <td class="text-end cell-month" (click)="editCell($index, element)">
            <app-exchange 
              [exchange]="element.entries[$index].amount" 
              [hideIcon]="true" 
              [display]="exchangeView()" 
              [useCurrencySymbol]="true">
            </app-exchange>
          </td>
        }
      </tr>
      </tr-group>
    }
  </tbody>
  <tfoot class="table-light">
    <tr>
      <td colspan="2" class="text-end fw-bold cell-total-display">Total</td>
      @for (month of months; track $index) {
        <td class="text-end cell-total-month">
          <app-exchange 
            [exchange]="totalMonth($index)" 
            [hideIcon]="true" 
            [display]="exchangeView()" 
            [useCurrencySymbol]="true">
          </app-exchange>
        </td>
      }
    </tr>
  </tfoot>
</table>