<div class="card">
  <div class="card-header">
    <h3 class="card-title">Importação de dados</h3>
  </div>
  <div class="card-body w-100">
    <div class="d-flex flex-column" [formGroup]="form" class="flex-grow-1">
      <mat-form-field>
        <mat-label>Conta</mat-label>
        <input matInput formControlName="accountId" appSelectOnFocus [matAutocomplete]="autoAccount" />
        <mat-autocomplete autoActiveFirstOption #autoAccount="matAutocomplete" [displayWith]="accountNameDisplay">
          @for(option of optionsAccount(); track option) {
          <mat-option [value]="option.id">{{ option.account }}</mat-option>
          }
          <!-- Opções de auto completar -->
        </mat-autocomplete>
      </mat-form-field>
      <div class="w-100">
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>Entre com os dados para importar</mat-label>
          <textarea matInput formControlName="data" class="data" placeholder='[
              &#123;
                  portfolio: "B3",
                  asset: "BVMFEGIE3",
                  quantity: "30",
                  currency: "BRL",
                  initial: "1220,1",
                  date: "2024-12-29",
              &#125;,
              ...
          ]' rows="8" cols="80"></textarea>
        </mat-form-field>
      </div>

      @if (error) {
      <div class="text-danger w-50 ps-3 error">
        @for(e of error; track $index){ <pre>{{ error }}</pre> }
      </div>
      }
    </div>
    <button mat-stroked-button (click)="import()" [disabled]="form.invalid">
      Importar
    </button>
    @if (parsed) {
    <div class="w-100 ps-3">
      <h5>Analisado</h5>
      <ng-template [ngTemplateOutlet]="TableParsed" [ngTemplateOutletContext]="{ parsed: parsed }"></ng-template>
    </div>
    }
  </div>
  <div class="card-body">
    <pre>
[
    &#123;
        portfolio: "B3",
        asset: "BVMFEGIE3",
        quantity: "30",
        currency: "BRL",
        initial: "1220,1",
        date: "2024-12-29",
    &#125;,
    ...
]
    </pre>
  </div>
</div>

<ng-template #TableParsed let-parsed="parsed">
  <table class="table table-bordered table-striped w-100">
    <thead>
      <tr>
        <th>Portfolio</th>
        <th>Asset</th>
        <th>Quantity</th>
        <th>Currency</th>
        <th>Initial</th>
        <th>Cotação</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      @for (item of parsed; track $index) {
      <tr>
        <td>{{ item.portfolio }}</td>
        <td>{{ item.asset }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.currency }}</td>
        <td>{{ item.value }}</td>
        <td>{{ item.value / item.quantity }}</td>
        <td>{{ item.date }}</td>
      </tr>
      }
    </tbody>
  </table>
</ng-template>