.parsed {
    height: auto;
    max-height: 190px;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #ddd;
}

textarea.data:not(.mdc-text-field--disabled) {
    font-size: 0.8em;
    color: #666;
}

.error {
    white-space: pre-line;
}