<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse d-lg-block navbar-collapse" id="navbarSupportedContent" [class.d-none]="menuClosed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (click)="openSubmenu('File')" role="button"
                        [class.show]="submenu['File']">
                        Arquivo
                    </a>
                    <ul class="dropdown-menu" [class.show]="submenu['File']" (click)="hideSubmenu('File')" role="menu">
                        <li><a class="dropdown-item" appDownloadData>Baixar dados...</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" appUploadData>Carregar dados...</a></li>
                        <li><a class="dropdown-item" appEmptyData>Limpar dados...</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/" (click)="closeMenus()">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (click)="openSubmenu('Statement')" role="button"
                        [class.show]="submenu['Statement']">
                        Contas e Extratos
                    </a>
                    <ul class="dropdown-menu" [class.show]="submenu['Statement']" (click)="hideSubmenu('Statement')"
                        role="menu">
                        <li><a class="dropdown-item" routerLink="/statement/balances">Contas &amp; Saldos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/statement/recurrence">Transações Recorrentes</a></li>
                        <li><a class="dropdown-item" routerLink="/statement/forecast">Controle Mensal</a></li>
                        <li><a class="dropdown-item" routerLink="/statement/forecast-summary">Previsão resumida</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/assets/allocations">Allocações por classe</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (click)="openSubmenu('Investment')" role="button"
                        [class.show]="submenu['Investment']">
                        Investimentos
                    </a>
                    <ul class="dropdown-menu" [class.show]="submenu['Investment']" (click)="hideSubmenu('Investment')"
                        role="menu">
                        <li><a class="dropdown-item" routerLink="/investment/transactions">Transações</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/investment/portfolio">Portfólios</a></li>
                        <li><a class="dropdown-item" routerLink="/investment/assets">Ativos</a></li>
                        <li><a class="dropdown-item" routerLink="/investment/earnings">Proventos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>