a {
    cursor: pointer;
}
ul.show li {
    overflow: hidden;
}
.active-currency:after {
    content: '\2713';
    display: inline-block;
    color: red;
    padding: 0 6px 0 0;
}

.active-currency {
    font-size: 1em;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.currencies > li > *{
    margin-left: 10px;
}