@if (isLoading()) {
  <!-- <app-loading></app-loading> -->
   Loading...
} @else {
  <app-financial-grid 
    [gridData]="financialGridData()"
    [showTotalColumn]="false"
    (cellChange)="financialGridCellChanged($event)"
  ></app-financial-grid>

  <app-financial-grid 
    [gridData]="contributionGridData()"
    [showTotalColumn]="false"
    [showHeader]="false"
    [showFooter]="false"
    [tabIndexInitial]="financialGridData().rows.length + 1"
    (cellChange)="onContributionCellChanged($event)"
    ></app-financial-grid>
  
  <app-financial-grid 
    [showTotalColumn]="false"
    [showHeader]="false"
    [showFooter]="false"
    [gridData]="growthGridData()"
    ></app-financial-grid>

  <div class="w-75 text-center mx-auto mt-4 mb-4">
    <app-portfolio-evolution-chart 
      [profitabilityEvolutionData]="portfolioEvolutionData()"
      [secondariesRows]="profitabilityData()"
      [accumulatedData]="accumulatedData()"

      [currency]="currency()"
      ></app-portfolio-evolution-chart>
  </div>
}