@if (isLoading()) {
  <!-- <app-loading></app-loading> -->
   Loading...
} @else {
  <app-financial-grid 
    [gridData]="financialGridData()"
    [showTotalColumn]="false"
    (cellChange)="financialGridCellChanged($event)"
  ></app-financial-grid>

  <app-financial-grid 
    [gridData]="contributionGridData()"
    [showTotalColumn]="false"
    [showHeader]="false"
    [showFooter]="false"
    [tabIndexInitial]="financialGridData().rows.length + 1"
    (cellChange)="onContributionCellChanged($event)"
    ></app-financial-grid>
  
    <app-financial-grid 
    [showTotalColumn]="false"
    [showHeader]="false"
    [showFooter]="false"
    [gridData]="growthGridData()"
    ></app-financial-grid>
}