<div class="card">
    <div class="card-header">Filtro de Ativos</div>
    <div class="card-body d-flex">
        <div class="pe-3">
            <mat-form-field>
                <input matInput [matDatepicker]="dp" placeholder="Month and Year" [(ngModel)]="filter.dateReference"
                    [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year" (yearSelected)="choosenYear($event, dp)"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="pe-3">
            <mat-form-field>
                <mat-label>Tipo de Ação</mat-label>
                <mat-select matSelect [(ngModel)]="filter.typeReference" [ngModelOptions]="{standalone: true}"
                    placeholder="Selecione..." (ngModelChange)="onFilterChange()">
                    <mat-option [value]="">Todos</mat-option>
                    @for (type of assetTypes; track $index) {
                    <mat-option [value]="type">{{ type | assetType }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="pe-3">
            <mat-form-field>
                <mat-label>Carteira</mat-label>
                <mat-select matSelect [(ngModel)]="filter.portfolioReference" [ngModelOptions]="{standalone: true}"
                    placeholder="Selecione..." (ngModelChange)="onFilterChange()">
                    <mat-option [value]="">Todos</mat-option>
                    @for (portfolio of porfolios(); track portfolio.id) {
                    <mat-option [value]="portfolio.id">{{ portfolio.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
