mat-cell.mat-mdc-cell {
    border: 0;
}
mat-row.mat-last-row mat-cell.mat-mdc-cell {
    border-bottom: 1px solid var(--mat-table-row-item-outline-color, var(--mat-app-outline, rgba(0, 0, 0, 0.12)))
}

.add-quantity {
    margin-top: -20px;
}

button#add-portifolio-button {
    position: relative;
    top: -73px;
    left: calc(50% - 20px);
    background-color: white;
    box-shadow: 4px 4px 4px;
}