<h3 mat-dialog-title>{{data.title}}</h3>
<form [formGroup]="transactionForm" (submit)="submitForm()">
    <mat-dialog-content>
        <div class="d-flex flex-column">
            @switch (page) {
            @case("Asset") {
                <ng-container formGroupName="transaction">
                    <div class="d-flex">
                        <mat-form-field>
                            <mat-label>ticker</mat-label>
                            @if (!assets()) {
                                <input matInput type="text" formControlName="ticker" required>
                            }
                            @else {
                                <mat-select formControlName="ticker" required>
                                    <mat-select-trigger>
                                        {{ticker.value}} - {{ assetSelected?.name }}
                                    </mat-select-trigger>
                                    @for (asset of assets() | keyvalue; track asset.key) {
                                    <mat-option [value]="asset.key">{{ asset.key }}<br><em class="display-small small">{{asset.value.name}}</em></mat-option>
                                    }
                                </mat-select>
                            }
                            @if (ticker.invalid && ticker.touched) {
                            <mat-error>
                                Campo obrigatório
                            </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field class="ms-4">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type" placeholder="Tipo da transação" required>
                                @for (type of transactionTypes; track $index) {
                                <mat-option [value]="type">{{ type | transactionType }} </mat-option>
                                }
                            </mat-select>
                            @if (type.invalid && type.touched) {
                            <mat-error>
                                Campo obrigatório
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <div class="d-flex">
                        <mat-form-field id="mat-field-date">
                            <input matInput [matDatepicker]="dp" placeholder="DD/MM/YYYY" formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                            @if (date.invalid && date.touched) {
                            <mat-error>
                                Campo obrigatório
                            </mat-error>
                            }
                        </mat-form-field>
            
                        <mat-form-field class="ms-4">
                            <mat-label>Conta</mat-label>
                            <input type="text" matInput formControlName="accountId" required>
                            @if (accountId.invalid && accountId.touched) {
                            <mat-error>
                                Campo obrigatório
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>
        
                    <div class="d-flex">
                        <ng-container formGroupName="value">
                            <mat-form-field>
                                <mat-label>Moeda</mat-label>
                                <mat-select formControlName="currency" required>
                                    @for (currency of currencies; track $index) {
                                    <mat-option [value]="currency">{{ currency }}</mat-option>
                                    }
                                </mat-select>
                                @if (currency.invalid && currency.touched) {
                                <mat-error>
                                    Campo obrigatório
                                </mat-error>
                                }
                            </mat-form-field>
                        </ng-container>
        
                        <mat-form-field class="ms-4">
                            <mat-label>Cotação</mat-label>
                            <input matInput type="number" step="0.01" min="0" class="text-end" formControlName="quote"
                                (focus)="selectAll($event)">
                            @if (quote.invalid && quote.touched) {
                            <mat-error>
                                Campo obrigatório
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <div class="d-flex">

                        <div class="d-flex-flex-column">
                            <mat-form-field>
                                <mat-label>Quantidade</mat-label>
                                <input matInput type="number" step="1" min="0" class="text-end" formControlName="quantity"
                                    (focus)="selectAll($event)">
                                @if (quantity.invalid && quantity.touched) {
                                <mat-error>
                                    Campo obrigatório
                                </mat-error>
                                }
                            </mat-form-field>
                            <div class="d-flex" class="add-quantity">
                                <button mat-button type="button" (click)="addQuantity(1000)">+1000</button>
                                <button mat-button type="button" (click)="addQuantity(100)">+100</button>
                                <button mat-button type="button" (click)="addQuantity(10)">+10</button>
                            </div>
                        </div>
            
                        <ng-container formGroupName="value">
                            <mat-form-field class="ms-4 input-amount">
                                <mat-label>Valor</mat-label>
                                <input matInput type="number" step="0.01" min="0" class="text-end" formControlName="amount" required
                                    (focus)="selectAll($event)">
                                @if (amount.invalid && amount.touched) {
                                <mat-error>
                                    Campo obrigatório
                                </mat-error>
                                }
                            </mat-form-field>
                        </ng-container>
            
                    </div>
        
                    <div class="d-flex">
                        <mat-form-field>
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="status" placeholder="Status da transação" required>
                                @for (status of transactionStatuses; track $index) {
                                <mat-option [value]="status">{{ status | transactionStatus }} </mat-option>
                                }
                            </mat-select>
                            @if (type.invalid && type.touched) {
                            <mat-error>
                                Campo obrigatório
                            </mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field class="ms-4">
                            <mat-label>Comissão</mat-label>
                            <input matInput type="number" step="0.01" min="0" class="text-end" formControlName="brokerage"
                                (focus)="selectAll($event)">
                            @if (brokerage.invalid && brokerage.touched) {
                            <mat-error>
                                Campo obrigatório
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>
                </ng-container>
            } <!-- case -->
            @case("Portfolio") {
                <ng-container formArrayName="portfolios">
                    <mat-table [dataSource]="portfolioList() || []" id="mat-table-porfolios">
                        <ng-container matColumnDef="name">
                            <mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <mat-form-field>
                                    <mat-label>Carteira</mat-label>
                                    <input matInput type="text" formControlName="name" required placeholder="Nova carteira" [readonly]="!!row.id">
                                    @if (!row.id) {
                                        <mat-icon matSuffix>mode_edit</mat-icon>
                                    }
                                    @if (portfolios.at(i).get("name")?.invalid) {
                                    <mat-error>
                                        Campo obrigatório
                                    </mat-error>
                                    }
                                </mat-form-field>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef>Não alocado</mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <mat-form-field>
                                    <mat-label>Valor alocado</mat-label>
                                    <input matInput type="number" step="0.01" class="text-end" formControlName="quantity">
                                    @if (portfolios.at(i).get("quantity")?.invalid) {
                                    <mat-error>
                                        Valor inválido
                                    </mat-error>
                                    }
                                </mat-form-field>
                            </mat-cell>
                            <mat-footer-cell *matFooterCellDef>
                                <div class="w-100 text-end" [class.text-danger]="undistributed < 0">

                                    {{undistributed | number:'1.0-2'}}
                                </div>
                            </mat-footer-cell>
                        </ng-container>
    
                        <mat-row *matRowDef="let row; let last = last; columns: ['name','quantity'];" [class.mat-last-row]="last"></mat-row>
                        <mat-footer-row *matFooterRowDef="['name','quantity']" class="table-total"></mat-footer-row>
                    </mat-table>
                </ng-container>
            } <!-- case -->
        } <!-- switch -->
        </div>

    </mat-dialog-content>

    <mat-dialog-actions>
        @switch (page) {
            @case ("Asset") {
                <button type="button" mat-button (click)="gotoPage('Portfolio')">Próximo</button>
                <!-- <button type="button" mat-button (click)="gotoPage('Portfolio')" [disabled]="transactionForm.invalid">Próximo</button> -->
            }
            @case ("Portfolio") {
                <button type="button" mat-button (click)="gotoPage('Asset')">Voltar</button>
                <button type="submit" mat-stroked-button [mat-dialog-close]="formValue" color="primary" [disabled]="transactionForm.invalid">Salvar</button>
            }
        }
        <button type="button" mat-button [mat-dialog-close]="undefined">Cancelar</button>
    </mat-dialog-actions>

</form>