<mat-accordion multi>
    @for (portfolio of portfolios; track portfolio.id) {
        <mat-expansion-panel class="remove-mat-expansion-panel-padding" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ portfolio.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-investment-portfolio-table [portfolioId]="portfolio.id || ''"></app-investment-portfolio-table>
        </mat-expansion-panel>
    }
</mat-accordion>
