/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './m3-theme.scss';

@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_navbar";
@import "bootstrap/scss/_dropdown";
@import "bootstrap/scss/_variables";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$red-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));


@mixin portfolio-theme($dark-theme) {
    .mat-mdc-table tbody tr:hover {
        background-color: lighten(mat-color($dark-theme, primary), 50%);
    }
}

html, body { 
    height: 100%;
    @include mat.core-theme(m3-theme.$light-theme)
}
body { 
    margin: 0; 
    font-family: var(--bs-font-sans-serif);
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

.debug {
    display: none;
    border: 1px solid red;
    overflow: auto;
    max-height: 50vh;
}

$valor-positivo: rgb(0, 80, 0);
$valor-negativo: rgb(215, 0, 0);

.negative {
    color: $valor-negativo;
}

.positive {
    color: $valor-positivo;
}

.table-total {
    td, th { border-top: 3px double var(--mat-table-row-item-outline-color) };
    font-weight: bold !important;
}

.cell-number {
    text-align: end;
}

.mat-mdc-table {
    caption {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}
.mat-table-hover {
    .mat-mdc-row:hover {
        background-color: #ecffe4;
        cursor: pointer !important;
    }
}
.mat-table-selectable {
    .mat-mdc-row:hover {
        background-color: #b8ccb2;
        cursor: pointer !important;
    }
}
mat-table, table, .mat-table {
    tr.active {
        background-color: #98b48f;
    }
}

.mat-accordion .remove-mat-expansion-panel-padding .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0 !important;
}