<form>
    <mat-form-field>
        <input matInput [matDatepicker]="dp" placeholder="Month and Year" [(ngModel)]="dateReference" [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="choosenYear($event, dp)"></mat-datepicker>
    </mat-form-field>
</form>

<!-- Criação do formArray -->
<mat-table [dataSource]="data()" class="mat-elevation-z8">
  <!-- Definição das colunas -->
  <ng-container matColumnDef="ticket">
    <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ticket}} </mat-cell>
    <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Ativo </mat-header-cell>
    <mat-cell *matCellDef="let element" class="cell"> {{element.description}} </mat-cell>
    <mat-footer-cell *matFooterCellDef/>
  </ng-container>

  @for(month of months; track $index) {
      <ng-container [matColumnDef]="vlMonths[$index]">
        <mat-header-cell *matHeaderCellDef class="vlMonth"> {{month}} </mat-header-cell>
        <mat-cell *matCellDef="let element" class="number cell vlMonth">
          <app-editable-number step="0.01" class="w-100"
            [(ngModel)]="element.entries[$index].amount"
            (ngModelChange)="updateEntry($event, $index); updateTotal($event, $index)"
            />
           <!-- {{ element.entries[$index] | json}} -->
        </mat-cell>
        <mat-footer-cell *matFooterCellDef class="number vlMonth">
          <!-- <div class="w-100 text-end pe-3">
            {{ totalMonth($index) | number:'1.2-2' }}
          </div> -->
        </mat-footer-cell>
      </ng-container>
  }

  <!-- Cabeçalho e linhas -->
  <mat-header-row *matHeaderRowDef="displayedColumns"/>
  <mat-row *matRowDef="let row; columns: displayedColumns;"/>
  <mat-footer-row *matFooterRowDef="displayedColumns" class="table-total"/>
</mat-table>
<code>
  <pre>{{data() | json}}</pre>
</code>