.number {
    text-align: right;

    .mat-mdc-form-field-infix {
        padding: 0 !important;
    }

    input[type="number"] {
        text-align: right;
        height: auto;
        border: 0;
        padding: 8px 4px;
    }

    input[value="0.00"] {
        background-color: yellow;
    }
}

.mat-row {
    height: 28px;
    min-height: 0 !important;
}

.mat-cell,
.cell {
    padding: 0;
    margin: 0;
}

.number-footer {
    font-weight: bold;
}

.mat-column-ticker {
    width: 18%;
}


.mat-column-acronym {
    width: 4%;
}

.vlMonth {
    max-width: 6.5%;
    margin: 0;
    padding: 0;
}

.mat-mdc-row,
.mat-mdc-footer-row {
    height: 42px !important;

    .mat-column-acronym {
        width: 4%;
        border-left: 1px solid #ddd;
        text-align: center !important;
        vertical-align: middle;
    }

    .vlMonth {
        border-left: 1px solid #ddd;
        text-align: end !important;
        vertical-align: middle;
        padding-right: 4px;
    }
}

.mat-column-vl0, .mat-column-vl1, .mat-column-vl2, .mat-column-vl3, .mat-column-vl4,
    .mat-column-vl5, .mat-column-vl6, .mat-column-vl7, .mat-column-vl8,
    .mat-column-vl9, .mat-column-vl10, .mat-column-vl11 {
    &:hover {
        background-color: #f1f1f1;
    }
}