@if(! showForm()) {
    <button mat-button class="primary button" (click)="addTransaction()">
        <mat-icon>add</mat-icon>
        Nova transação
    </button>
        <app-transaction-table
            (onClickItem)="onClickItem($event)"
            (onDeleteItem)="onDeleteItem($event)"/>
}
@else {
    <div class="force-orientation-landscape">
        <app-investment-transaction-form
            (onSubmit)="onSaveTransaction($event)"
            (onCancel)="onCancelTransactionForm()"/>
    </div>
}