.table {
    table-layout: fixed;
    width: 100%;
}

#table-master {
    tr, tr td {
        border-bottom: 1px solid rgb(116, 119, 127);
    }
}

tr {
    min-height: 48px;
    height: 48px;
    vertical-align: middle;
    border-bottom: 1px solid var(--table-row-border-bottom-color)
}
tr, td {
    background-color: var(--bs-body-bg);
    padding: 4px 0;
}

.column-name {
    width: 18%; // Largura maior para o nome do ativo
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-code {
    width: 12%; // Código do ativo
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-type {
    width: 10%; // Tipo do ativo
    text-align: center;
}

.column-quote {
    width: 10%; // Cotação
    text-align: end;
}

.column-quantity {
    width: 8%; // Quantidade
    text-align: end;
}

.column-averagePrice {
    width: 10%; // Preço médio
    text-align: end;
}

.column-marketValue {
    width: 12%; // Valor de mercado
    text-align: end;
}

.column-profit {
    width: 8%; // Resultado
    text-align: end;
}

.column-percPlanned {
    width: 6%; // % Planejada
    justify-content: end !important;
}

.column-percAllocation {
    width: 6%; // % Alocada
    justify-content: end !important;
}

.cell-total {
    flex-grow: 1;
    flex-shrink: 1;
}