@if (datasource() && total() ) {

  <table class="table table-default mat-elevation-z8 table-hover"
      [class]="editable() ? 'table-editable' : 'table-readonly'" [attr.aria-label]="'Portfolio table'">
    <caption class="visually-hidden">Tabela de carteiras</caption>

    <thead>
        <tr>
            <th class="column-name d-none d-lg-flex">Ativo</th>
            <th class="column-code">Código</th>
            <th class="column-type d-none d-lg-flex">Tipo</th>
            <th class="column-quantity">
              <span class="text-truncate d-none d-lg-flex">Quantidade</span>
              <span class="text-truncate d-flex d-lg-none" title="Quantidade">Qtd.</span>
            </th>
            <th class="column-quote">Cotação</th>
            <th class="column-averagePrice d-none d-lg-flex" >
              <span class="text-truncate d-none d-lg-flex">Preço Médio</span>
              <span class="text-truncate d-flex d-lg-none" title="Preço Médio">PM</span>
            </th>
            <th class="column-marketValue" >
              <div>
                <span class="text-truncate d-none d-lg-flex">Valor de Mercado</span>
                <span class="text-truncate d-flex d-lg-none" title="Valor de Mercado">VM</span>
              </div>
            </th>
            <th class="column-profit" >
              <div>
                <span class="text-truncate d-none d-lg-flex">Resultado</span>
                <span class="text-truncate d-flex d-lg-none" title="Resultado">Result.</span>
              </div>
            </th>
            <th class="column-percPlanned" >
              <span class="text-truncate d-none d-lg-flex">% Planejada</span>
              <span class="text-truncate d-flex d-lg-none" title=" % Planejada">% Plj.</span>
            </th>
            <th class="column-percAllocation" >
              <span class="text-truncate d-none d-lg-flex">% Alocada</span>
              <span class="text-truncate d-flex d-lg-none" title=" % Alocada">% Alc.</span>
            </th>
        </tr>
    </thead>
    <tbody>
      @for(row of datasource(); track $index) {
        <tr (click)="editable() && selectRow(row)">
          <td class="column-name d-none d-lg-flex">{{row.name}}</td>
          <td class="column-code">{{row.ticker}}</td>
          <td class="column-type d-none d-lg-flex">{{row.type | assetType }}</td>
          <td class="column-quantity">
            {{row.quantity}}
          </td>
          <td class="column-quote">
            <app-exchange [exchange]="row.quote" [display]="exchangeView()" [hideIcon]="true"/>
          </td>
          <td class="column-averagePrice d-none d-lg-flex" >
            <app-exchange [exchange]="row.averagePrice" [display]="exchangeView()" [hideIcon]="true"/>
          </td>
          <td class="column-marketValue" >
            <app-exchange [exchange]="row.marketValue" [display]="exchangeView()" [hideIcon]="true"/>
          </td>
          <td class="column-profit">
            <app-exchange [exchange]="row.profit" [display]="exchangeView()" [hideIcon]="true"/>
          </td>
          <td class="column-percPlanned">
            {{row.percPlanned}}%
          </td>
          <td class="column-percAllocation">
            {{row.percAllocation | percent:'1.2-2'}}
          </td>
      </tr>
      }
    </tbody>

    <tfoot>
      <tr>
        <th class="cell-total">Total</th>
        <th></th>
        <th></th>
        <th class="d-none d-lg-flex"></th>
        <th class="d-none d-lg-flex"></th>
        <th class="d-none d-lg-flex"></th>
        <th class="column-marketValue">
          <app-exchange [exchange]="total()?.marketValue" [display]="exchangeView()" [hideIcon]="true"/>
        </th>
        <th class="column-profit" [class.negative]="(total()?.profit?.original?.value ?? 0) < 0">
          <app-exchange [exchange]="total()?.profit" [display]="exchangeView()" [hideIcon]="true"/>
        </th>
        <th class="column-percPlanned" >
          {{total()?.percPlanned | number:'1.2-2'}}%
        </th>
        <th class="column-percAllocation" >
          {{total()?.percAllocation | percent:'1.2-2'}}
        </th>
      </tr>
    </tfoot>
  </table>
}

<code class="debug"><pre>{{datasource() | json}}</pre></code>