.table {
    table-layout: fixed;
    width: 100%;
}

tr {
    min-height: 48px;
    height: 48px;
    vertical-align: middle;
}
tr, td {
    background-color: var(--bs-body-bg);
    padding: 4px 0;
}

.column-name {
    width: 18%; // Largura maior para o nome do ativo
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-code {
    width: 12%; // Código do ativo
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.column-type {
    width: 10%; // Tipo do ativo
    text-align: center;
}

.column-quote {
    width: 13%; // Cotação
    text-align: end;
    justify-content: end !important;
}

.column-quantity {
    width: 5%; // Quantidade
    text-align: end;
}

.column-averagePrice {
    width: 10%; // Preço médio
    text-align: end;
}

.column-marketValue {
    width: 12%; // Valor de mercado
    text-align: end;
}

.column-profit {
    width: 8%; // Resultado
    text-align: end;
}

.column-percPlanned {
    width: 6%; // % Planejada
    justify-content: end !important;
}

.column-percAllocation {
    width: 6%; // % Alocada
    justify-content: end !important;
}

.cell-total {
    flex-grow: 1;
    flex-shrink: 1;
}

.exch-currency, 
.exch-value {
  white-space: nowrap;
}

/* Ajustes para responsividade em telas menores */
@media (max-width: 992px) {
    .column-code {
      width: 15%;
    }
    
    .column-quantity {
      width: 10%;
    }
    
    .column-quote {
      width: 15%;
    }
    
    .column-marketValue {
      width: 15%;
    }
    
    .column-profit {
      width: 15%;
    }
    
    .column-percPlanned,
    .column-percAllocation {
      width: 10%;
    }
  }
  
  /* Garantir que o rodapé da tabela mantenha o alinhamento */
  tfoot th {
    white-space: nowrap;
  }